/app/debug
/app/release
/MyLib/debug
/MyLib/release
/MyLib/Makefile.Release
/MyLib/Makefile
/MyLib/Makefile.Debug
*.pro.user
*.pro.user.*
*.raw
Makefile
*ui_*.h

## Core latex/pdflatex/build-tool auxiliary files:
*.aux
*.bit
*.blg
*.bbl
*.lof
*.log
*.lot
*.glo
*.glx
*.gxg
*.gxs
*.idx
*.ilg
*.ind
*.out
*.url
*.svn
*.toc
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml
